@model IEnumerable<ETicaretWebMvc.Models.Category>
@{ 
    var selectedCategory = Url.RequestContext.RouteData.Values["id"];
}

<div class="list-group">
    <a href="/Home/List" class="list-group-item list-group-item-action">
        <i class="fa fa-angle-double-right"></i>
        Tüm Ürünler
    </a>
    @foreach (var item in Model)
    {
        if (selectedCategory != null)
        {
            if (item.Id == int.Parse(selectedCategory.ToString()))
            {
                <a href="/Home/List/@item.Id" class="list-group-item list-group-item-action active">
                    <i class="fa fa-angle-double-right"></i>
                    @item.Name
                </a>
            }
            else
            {
                <a href="/Home/List/@item.Id" class="list-group-item list-group-item-action">
                    <i class="fa fa-angle-double-right"></i>
                    @item.Name
                </a>
            }
        }
        else
        {
                <a href="/Home/List/@item.Id" class="list-group-item list-group-item-action">
                    <i class="fa fa-angle-double-right"></i>
                    @item.Name
                </a>
        }

        
    }
</div>
